.card-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.card:not(:first-child) {
  transform: translateX(100%);
}

.card.like {
  transform: translateX(-100%);
}

.card.dislike {
  transform: translateX(200%);
}

.card.hide {
  display: none;
}

.card-action {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-action .Landing_icon {
  font-size: large;
  width: 70px;
  height: 86px;
}

.card-action button {
  background-color: #ff4136; /* rojo */
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-action button:hover {
  background-color: #2ecc40; /* verde */
}
.card-action button.like {
  background-color: #2ecc40; /* verde */
}

.card-action button.dislike {
  background-color: #ff4136; /* rojo */
}
